.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  font-family: "Montserrat Alternates", sans-serif;
  border-bottom: 2px black;
}

.head div {
  color: green;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 100px;
}

.head ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 100px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head img {
  border-radius: 30px;
}

.payinfo-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.payinfo-line div {
  padding-left: 20px;
}

.payinfo-line h4 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.payinfo-line p {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 10px;
  margin-top: -15px;
}

.icons {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
}

.atm-card {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #ff4f84), to(#844fff));
  background-image: linear-gradient(to right, #ff4f84 20%, #844fff);
  width: 500px;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}

.atm-card h2 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 900;
}

.atm-card .crdnmb-chip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 450px;
}

.atm-card .crdnmb-chip h5 {
  margin-bottom: 2px;
  font-size: 15px;
}

.atm-card .crdnmb-chip p {
  font-size: 20px;
  border-bottom: 2px dotted;
  width: 200px;
  color: #a9a9a9;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.atm-card .crdnmb-chip img {
  padding-top: 20px;
}

.atm-card .exp-cvv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  margin-bottom: 10px;
  padding-top: 5px;
  height: 60px;
}

.atm-card .mastercard {
  padding-top: 15px;
  width: 20px;
}

.atm-card h5 {
  margin-bottom: 2px;
  font-size: 15px;
}

.section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 800px;
}

.info-card label {
  margin-bottom: -10px;
}

.info-card input {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  background-color: #dad8d8;
  border: 2px solid #A9A9A9;
  margin-bottom: 35px;
}

.info-card label {
  font-size: 20px;
  font-weight: 400;
  color: rgba(3, 3, 3, 0.5);
  display: block;
}

.btn p {
  color: rgba(3, 3, 3, 0.5);
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2px;
  margin-top: -2px;
  margin-bottom: 20px;
}

.btn-add {
  background-color: royalblue;
  width: 800px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  font-weight: 800;
}

.btn-add:hover {
  background-color: silver;
  cursor: pointer;
  color: black;
}

.sec3-table {
  margin-top: 15px;
  margin-bottom: 15px;
  border-spacing: 7px;
  color: #423A4B;
}

.sec3-table td {
  font-family: "Poppins", sans-serif;
}

.sec4-table {
  margin-top: 15px;
  margin-bottom: 30px;
  color: #423A4B;
}

.sec4-table button {
  background: #0079c1;
  border-radius: 5px;
  border: 1px solid #0079c1;
  padding: 1em 2em;
  min-width: 100%;
  cursor: pointer;
  font-size: 14px;
  color: white;
  min-width: 10%;
}

.left {
  text-align: end;
}
/*# sourceMappingURL=style.css.map */